{
  "openapi": "3.0.3",
  "info": {
    "title": "Quak API",
    "description": "The Quak API plays announcements on Sonos speakers: text-to-speech, sounds, own clips, files, URLs and push-to-talk, with voice effects and ambiences, quiet hours and a live history.\n\n## Authentication\n\nTo get an API key:\n\n1. Call `POST /v1/user/signup` (new account) or `POST /v1/user/login` with your email address.\n\n2. Confirm the request via the email link.\n\n3. Exchange the `verifyToken` using `POST /v1/user/login/key` to receive your API key.\n\nUse the API key on protected endpoints with either:\n\n- Header: `Authorization: Bearer <API_KEY>` (raw token also works). Recommended.\n\n- Query parameter: `?apikey=<API_KEY>`, handy for demos and quick tests. A key in a URL can end up in logs, the browser history and referrers of the tools on the way, so use the header in integrations.\n\nAPI keys look like `qk_key_…` (43 characters). The full key is shown once, when it is made (`POST /v1/keys`, `POST /v1/user/login/key`); Quak only keeps a hash of it. Lists show its start (`qk_key_7Fh2…`).\n\n## Workspaces, roles and scopes\n\nA workspace holds the credits and subscription, the Sonos accounts and speakers, groups, clips, keys and the playback defaults (`GET /v1/workspace`). Every user gets a personal workspace at sign-up and can be a member of more (`GET /v1/workspaces`, invitations with `POST /v1/workspace/invites`); plays keep who triggered them.\n\nWhich workspace a request works in: a **login key** (from logging in with an app, the website or the CLI) belongs to you, not to a workspace. Name the workspace per request with the header `X-Quak-Workspace: <slug or id>`; without it the request works in the workspace you named last, else your personal one. Switching needs no new login. A key made with `POST /v1/keys` belongs to one workspace; a header naming another one is `403 ERROR_WORKSPACE_MISMATCH`. The workspace of a request is in the `X-Quak-Workspace-UUID` header of the answer.\n\nBoth have to allow a request: the key's **scope** and your **role** in the workspace. Scopes include the ones below: `play` (read speakers, voices, sounds, credits, history and play, costs credits) < `create` (and add clips: upload one or keep a play as one) < `manage` (and settings, Sonos accounts, keys, groups, renaming and deleting clips, members). Keys made with `POST /v1/keys` get `play` unless asked otherwise, login keys `manage`. Roles: `MEMBER` reads and plays (and adds clips); `ADMIN` also runs the workspace, several admins are equal. Changing the email and creating workspaces need a login key. Every endpoint names its scope; with too little the answer is `403 ERROR_INSUFFICIENT_SCOPE`, with a role too low `403 ERROR_INSUFFICIENT_ROLE`, both with the need in `details.required`.\n\n## Identifiers\n\n- `id`: stable UUID identifier exposed in public API payloads.\n\n- `slug`: human-friendly identifier on slug-enabled resources (for example Sonos accounts).\n\nFor slug-enabled resources, `/{id}` path params can accept either `id` or `slug`.\n\n## Playback\n\nPlay text (`POST /v1/play/text`), built-in sounds, own clips, URLs, uploaded files and what someone said into a mic (`POST /v1/play/talk` after release, `GET /v1/play/talk/live` as a WebSocket while talking) on your Sonos speakers. Missing parameters come from the workspace defaults (`PATCH /v1/workspace/defaults`), including quiet hours (default `22-7`, in the workspace time zone): a play during quiet hours is not played, costs nothing and returns `200` with status `SKIPPED`. `preview: true` only produces the audio and returns its `audioUrl`. Every play is kept in the history (`GET /v1/plays`) and can be stopped while it runs.\n\nCredits: 1 when Sonos fetches from the CDN or the source (sound, clip, URL without processing), 2 when the audio goes through the API server (TTS, processed URL, file, talk), plus the voice rate per started 100 characters for TTS and 1 per started 10 s of speech for talk. A TTS cache hit (same text and voice within the workspace's audio cache time, `PATCH /v1/workspace/audio-cache`) costs 2, the preview skips the base fee. The balance after the play is in the `X-Quak-Credits` header.\n\n## Audio formats\n\nEverything Quak plays is mono, a Sonos room plays on one speaker (a stereo pair only on the left one), so mono uploads lose nothing.\n\n- **Uploads** (`POST /v1/play/file`, `POST /v1/play/talk`, `POST /v1/clips`): any common audio format, for example MP3, M4A/AAC, Opus (WebM or Ogg), WAV or FLAC, max. 10 MB and 180 s. Prefer a compressed format (MP3, M4A, Opus): a WAV of 180 s is about 15 MB mono and does not fit, an MP3 at 128 kbit/s is about 3 MB. For talk the browser's `MediaRecorder` output (WebM/Opus) or iOS M4A can be sent as is.\n\n- **URLs with processing** (`POST /v1/play/url`, default): like uploads, the server downloads and converts them.\n\n- **URLs without processing** (`process: false`): Sonos fetches the file itself, so it must be **MP3** (or WAV) on a public HTTPS URL. Use MP3: Sonos does not play WAV files shorter than about one second.\n\n- **What Sonos gets** from Quak is MP3 (128 kbit/s, 44.1 kHz, mono) for generated audio, sounds and clips.\n\n## Responses\n\nThe API can return these status codes across endpoints:\n\n- `200 OK`: request succeeded.\n\n- `201 Created`: a resource was created (for example an API key).\n\n- `202 Accepted`: request is valid but completion is still pending (for example login confirmation wait mode).\n\n- `204 No Content`: request succeeded and no response body is returned (typically delete endpoints).\n\n- `302 Found`: redirect response (for example Sonos connect with `redirect=1`).\n\n- `400 Bad Request`: invalid query/body/path parameters.\n\n- `401 Unauthorized`: API key missing, invalid or deleted (log in again), or an expired/invalid login verify token.\n\n- `402 Payment Required`: not enough credits for the play.\n\n- `403 Forbidden`: the API key is valid but may not do this.\n\n- `404 Not Found`: requested resource does not exist in your scope.\n\n- `409 Conflict`: uniqueness conflict (for example duplicate API key name) or a play that is not running any more.\n\n- `422 Unprocessable Content`: request body failed schema validation.\n\n- `424 Failed Dependency`: no speaker accepted the play (for example offline or gone), or Sonos did not let it stop.\n\n- `503 Service Unavailable`: a service behind Quak failed, for example Sonos or the speech synthesis. Quak never answers with 502 or 504.",
    "version": "1.0.0",
    "contact": {
      "name": "Quak",
      "url": "https://quak.party",
      "email": "hello@quak.party"
    },
    "termsOfService": "https://quak.party/terms",
    "license": {
      "name": "Proprietary",
      "url": "https://quak.party/terms"
    },
    "x-logo": {
      "url": "https://api.quak.party/icon-512.png",
      "altText": "Quak API"
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key as `Authorization: Bearer <API_KEY>`"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey",
        "description": "API key as `?apikey=<API_KEY>`"
      }
    },
    "schemas": {}
  },
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "servers": [
    {
      "url": "https://api.quak.party",
      "description": "Quak API server"
    }
  ],
  "tags": [
    {
      "name": "Play",
      "description": "Play text, talk (also live), sounds, clips, files and URLs on Sonos speakers"
    },
    {
      "name": "Plays",
      "description": "History of plays, stop running plays"
    },
    {
      "name": "User",
      "description": "Sign-up, login and your profile: email, time zone, newsletter"
    },
    {
      "name": "Workspace",
      "description": "Credits, subscription, playback defaults and the audio cache of the workspace"
    },
    {
      "name": "Speakers",
      "description": "Everything a play can go to (`to`): rooms, groups, locations, all"
    },
    {
      "name": "Groups",
      "description": "Own groups of speakers, usable in `to` like a room"
    },
    {
      "name": "Sounds",
      "description": "Built-in sounds for plays, intros and outros"
    },
    {
      "name": "Clips",
      "description": "Own audio clips, uploaded once and played from the CDN"
    },
    {
      "name": "Voices",
      "description": "Voices, models and languages for text plays"
    },
    {
      "name": "Effects",
      "description": "Voice effects and ambiences for plays, with what they sound like"
    },
    {
      "name": "OAuth",
      "description": "Consent for apps that connect with OAuth, e.g. AI assistants through the MCP server (/mcp); the consent page of the website uses these"
    },
    {
      "name": "API Keys",
      "description": "Manage API keys"
    },
    {
      "name": "Sonos",
      "description": "Connect, sync and disconnect Sonos accounts (connections, not targets); each brings its locations and speakers"
    },
    {
      "name": "Integrations",
      "description": "Connect other services to the workspace, e.g. Slack (“Add to Slack”): then everyone there plays with `/quak <text>` using the credits and defaults of the workspace"
    }
  ],
  "externalDocs": {
    "description": "Full documentation with examples and demos",
    "url": "https://quak.party/docs"
  },
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "security": [],
        "description": "Returns 200 with status ok when the API works, 503 with status error when not.",
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "error"
                      ]
                    }
                  },
                  "required": [
                    "status"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "503": {
            "description": "Response for status 503",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "error"
                      ]
                    }
                  },
                  "required": [
                    "status"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "Audio processing failed": {
                    "summary": "Audio processing failed",
                    "value": {
                      "error": {
                        "code": "ERROR_AUDIO_FAILED",
                        "message": "Something went wrong on our side, please try again.",
                        "requestId": "b2f41255-3619-44de-8697-25dd781fcb78"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getHealth"
      }
    },
    "/v1/user/signup": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Sign up",
        "security": [],
        "description": "Starts a sign-up with email (magic link). A welcome email with a confirmation link is sent, the account is created when the link is confirmed, then poll POST /v1/user/login/key like after a login. If the address has an account already, the email is a login link instead; the response looks the same, so nobody can find out whether an address is registered.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "format": "email",
                    "type": "string"
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 80,
                    "description": "your display name, required, 1-80 characters (members list, invitations, greeting in mails); your own workspace is named after it (\"Mike's Space\"); changeable in PATCH /v1/user/profile",
                    "examples": [
                      "Mike"
                    ]
                  },
                  "language": {
                    "type": "string",
                    "description": "language of the client (system or browser), e.g. en-GB, en or en_GB. Default for multi-language voices, changeable in PATCH /v1/workspace/defaults. Without it: Accept-Language, else en-US",
                    "examples": [
                      "en-GB"
                    ]
                  },
                  "timeZone": {
                    "type": "string",
                    "description": "IANA time zone of the client, e.g. Europe/Berlin, for quiet hours. Without it: from the IP, else UTC",
                    "examples": [
                      "Europe/Berlin"
                    ]
                  },
                  "newsletter": {
                    "anyOf": [
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "string",
                        "enum": [
                          "true",
                          "false"
                        ]
                      }
                    ],
                    "description": "true: the Quak newsletter, starts once the address is confirmed. Default false",
                    "examples": [
                      false
                    ]
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "API",
                      "WEB",
                      "CLI"
                    ],
                    "description": "the client that logs in: WEB, CLI or API (default), stored on the API key",
                    "examples": [
                      "WEB"
                    ]
                  }
                },
                "required": [
                  "email",
                  "name"
                ]
              },
              "examples": {
                "simple": {
                  "summary": "Simple",
                  "value": {
                    "email": "you@example.com"
                  }
                },
                "full": {
                  "summary": "Full: every field",
                  "value": {
                    "email": "you@example.com",
                    "language": "de",
                    "timeZone": "Europe/Berlin",
                    "newsletter": false,
                    "platform": "CLI"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "format": "email",
                    "type": "string"
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 80,
                    "description": "your display name, required, 1-80 characters (members list, invitations, greeting in mails); your own workspace is named after it (\"Mike's Space\"); changeable in PATCH /v1/user/profile",
                    "examples": [
                      "Mike"
                    ]
                  },
                  "language": {
                    "type": "string",
                    "description": "language of the client (system or browser), e.g. en-GB, en or en_GB. Default for multi-language voices, changeable in PATCH /v1/workspace/defaults. Without it: Accept-Language, else en-US",
                    "examples": [
                      "en-GB"
                    ]
                  },
                  "timeZone": {
                    "type": "string",
                    "description": "IANA time zone of the client, e.g. Europe/Berlin, for quiet hours. Without it: from the IP, else UTC",
                    "examples": [
                      "Europe/Berlin"
                    ]
                  },
                  "newsletter": {
                    "anyOf": [
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "string",
                        "enum": [
                          "true",
                          "false"
                        ]
                      }
                    ],
                    "description": "true: the Quak newsletter, starts once the address is confirmed. Default false",
                    "examples": [
                      false
                    ]
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "API",
                      "WEB",
                      "CLI"
                    ],
                    "description": "the client that logs in: WEB, CLI or API (default), stored on the API key",
                    "examples": [
                      "WEB"
                    ]
                  }
                },
                "required": [
                  "email",
                  "name"
                ]
              },
              "examples": {
                "simple": {
                  "summary": "Simple",
                  "value": {
                    "email": "you@example.com"
                  }
                },
                "full": {
                  "summary": "Full: every field",
                  "value": {
                    "email": "you@example.com",
                    "language": "de",
                    "timeZone": "Europe/Berlin",
                    "newsletter": false,
                    "platform": "CLI"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "format": "email",
                    "type": "string"
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 80,
                    "description": "your display name, required, 1-80 characters (members list, invitations, greeting in mails); your own workspace is named after it (\"Mike's Space\"); changeable in PATCH /v1/user/profile",
                    "examples": [
                      "Mike"
                    ]
                  },
                  "language": {
                    "type": "string",
                    "description": "language of the client (system or browser), e.g. en-GB, en or en_GB. Default for multi-language voices, changeable in PATCH /v1/workspace/defaults. Without it: Accept-Language, else en-US",
                    "examples": [
                      "en-GB"
                    ]
                  },
                  "timeZone": {
                    "type": "string",
                    "description": "IANA time zone of the client, e.g. Europe/Berlin, for quiet hours. Without it: from the IP, else UTC",
                    "examples": [
                      "Europe/Berlin"
                    ]
                  },
                  "newsletter": {
                    "anyOf": [
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "string",
                        "enum": [
                          "true",
                          "false"
                        ]
                      }
                    ],
                    "description": "true: the Quak newsletter, starts once the address is confirmed. Default false",
                    "examples": [
                      false
                    ]
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "API",
                      "WEB",
                      "CLI"
                    ],
                    "description": "the client that logs in: WEB, CLI or API (default), stored on the API key",
                    "examples": [
                      "WEB"
                    ]
                  }
                },
                "required": [
                  "email",
                  "name"
                ]
              },
              "examples": {
                "simple": {
                  "summary": "Simple",
                  "value": {
                    "email": "you@example.com"
                  }
                },
                "full": {
                  "summary": "Full: every field",
                  "value": {
                    "email": "you@example.com",
                    "language": "de",
                    "timeZone": "Europe/Berlin",
                    "newsletter": false,
                    "platform": "CLI"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verifyToken": {
                      "type": "string"
                    },
                    "loginPhrase": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "format": "date-time",
                      "type": "string"
                    }
                  },
                  "required": [
                    "verifyToken",
                    "loginPhrase",
                    "expiresAt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Response for status 400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "ERROR_ALREADY_CONNECTED",
                            "ERROR_ALREADY_MEMBER",
                            "ERROR_AUDIO_FAILED",
                            "ERROR_AUDIO_GONE",
                            "ERROR_CLIP_EXISTS",
                            "ERROR_CONFLICT",
                            "ERROR_GROUP_EXISTS",
                            "ERROR_INSUFFICIENT_CREDITS",
                            "ERROR_INSUFFICIENT_ROLE",
                            "ERROR_INSUFFICIENT_SCOPE",
                            "ERROR_INTEGRATION_NOT_FOUND",
                            "ERROR_INTEGRATION_UNAVAILABLE",
                            "ERROR_INTERNAL",
                            "ERROR_INVALID_API_KEY",
                            "ERROR_INVALID_MESSAGE",
                            "ERROR_INVALID_OR_EXPIRED_TOKEN",
                            "ERROR_INVALID_PARAMS",
                            "ERROR_INVALID_RETURN_TO",
                            "ERROR_INVALID_SIGNATURE",
                            "ERROR_INVALID_TICKET",
                            "ERROR_INVITE_ACCEPTED",
                            "ERROR_INVITE_EXPIRED",
                            "ERROR_INVITE_NOT_FOUND",
                            "ERROR_KEY_NAME_TAKEN",
                            "ERROR_LAST_ADMIN",
                            "ERROR_LOGIN_CONFIRMATION_PENDING",
                            "ERROR_LOGIN_NOT_FOUND",
                            "ERROR_MISSING_API_KEY",
                            "ERROR_MISSING_PARAMS",
                            "ERROR_NOT_CONNECTED",
                            "ERROR_NOT_ENOUGH_CREDITS",
                            "ERROR_NOT_FOUND",
                            "ERROR_NOT_REPLAYABLE",
                            "ERROR_NOT_VOTABLE",
                            "ERROR_NO_TESTERS",
                            "ERROR_NOT_VOTED",
                            "ERROR_NO_PERMISSIONS",
                            "ERROR_OAUTH_CANCELED",
                            "ERROR_PLAY_NOT_ACTIVE",
                            "ERROR_SESSION_EXPIRED",
                            "ERROR_SLACK_NOT_CONFIGURED",
                            "ERROR_SLUG_TAKEN",
                            "ERROR_SONOS_FAILED",
                            "ERROR_SONOS_NAME_TAKEN",
                            "ERROR_SONOS_NO_LOCATIONS",
                            "ERROR_SONOS_OAUTH_FAILED",
                            "ERROR_SONOS_RECONNECT_REQUIRED",
                            "ERROR_SONOS_SYNC_FAILED",
                            "ERROR_TOO_MANY_REQUESTS",
                            "ERROR_TTS_FAILED",
                            "ERROR_TTS_VOICES_UNAVAILABLE",
                            "ERROR_UNABLE_TO_SAVE",
                            "ERROR_USER_NOT_FOUND",
                            "ERROR_WORKSPACE_FORBIDDEN",
                            "ERROR_NO_WORKSPACE",
                            "ERROR_WORKSPACE_LIMIT",
                            "ERROR_WORKSPACE_MISMATCH",
                            "ERROR_WORKSPACE_NOT_FOUND"
                          ],
                          "description": "what went wrong, stable for code to check; message is for people"
                        },
                        "message": {
                          "type": "string"
                        },
                        "field": {
                          "type": "string"
                        },
                        "details": {},
                        "requestId": {
                          "description": "the X-Request-Id of the answer, to find the request in our log",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "examples": {
                  "Invalid volume": {
                    "summary": "Invalid volume",
                    "value": {
                      "error": {
                        "code": "ERROR_INVALID_PARAMS",
                        "message": "volume not valid. must be a number between 1 and 100.",
                        "field": "volume",
                        "requestId": "b2f41255-3619-44de-8697-25dd781fcb78"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Response for status 422",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "operationId": "postV1UserSignup"
      }
    },
    "/v1/user/login": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Login",
        "security": [],
        "description": "Starts a login with email (magic link). A confirmation email is sent and a verify token is returned for polling POST /v1/user/login/key. The response includes `loginPhrase`, which should match the phrase shown in the email. No account is created, and an unknown address gets no email. The response looks the same, so nobody can find out whether an address is registered. If no email arrives, there may be no account yet: sign up with POST /v1/user/signup.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "format": "email",
                    "type": "string"
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "API",
                      "WEB",
                      "CLI"
                    ],
                    "description": "the client that logs in: WEB, CLI or API (default), stored on the API key",
                    "examples": [
                      "WEB"
                    ]
                  }
                },
                "required": [
                  "email"
                ]
              },
              "examples": {
                "simple": {
                  "summary": "Simple",
                  "value": {
                    "email": "you@example.com"
                  }
                },
                "full": {
                  "summary": "Full: with the platform",
                  "value": {
                    "email": "you@example.com",
                    "platform": "CLI"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "format": "email",
                    "type": "string"
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "API",
                      "WEB",
                      "CLI"
                    ],
                    "description": "the client that logs in: WEB, CLI or API (default), stored on the API key",
                    "examples": [
                      "WEB"
                    ]
                  }
                },
                "required": [
                  "email"
                ]
              },
              "examples": {
                "simple": {
                  "summary": "Simple",
                  "value": {
                    "email": "you@example.com"
                  }
                },
                "full": {
                  "summary": "Full: with the platform",
                  "value": {
                    "email": "you@example.com",
                    "platform": "CLI"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "format": "email",
                    "type": "string"
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "API",
                      "WEB",
                      "CLI"
                    ],
                    "description": "the client that logs in: WEB, CLI or API (default), stored on the API key",
                    "examples": [
                      "WEB"
                    ]
                  }
                },
                "required": [
                  "email"
                ]
              },
              "examples": {
                "simple": {
                  "summary": "Simple",
                  "value": {
                    "email": "you@example.com"
                  }
                },
                "full": {
                  "summary": "Full: with the platform",
                  "value": {
                    "email": "you@example.com",
                    "platform": "CLI"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verifyToken": {
                      "type": "string"
                    },
                    "loginPhrase": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "format": "date-time",
                      "type": "string"
                    }
                  },
                  "required": [
                    "verifyToken",
                    "loginPhrase",
                    "expiresAt"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Response for status 422",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "operationId": "postV1UserLogin"
      }
    },
    "/v1/user/login/key": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Get API key after login",
        "security": [],
        "description": "Exchanges a verify token for an API key, optionally waiting for email confirmation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "verifyToken": {
                    "description": "Login verify token from /v1/user/login (length 30).",
                    "type": "string"
                  },
                  "waitForConfirmation": {
                    "default": false,
                    "type": "boolean"
                  },
                  "waitTimeoutSeconds": {
                    "minimum": 1,
                    "maximum": 180,
                    "multipleOf": 1,
                    "default": 60,
                    "type": "number"
                  }
                },
                "required": [
                  "verifyToken"
                ]
              },
              "examples": {
                "simple": {
                  "summary": "Simple: ask once",
                  "value": {
                    "verifyToken": "LhB3zW7kXq9mT2vN"
                  }
                },
                "full": {
                  "summary": "Full: wait for the click",
                  "value": {
                    "verifyToken": "LhB3zW7kXq9mT2vN",
                    "waitForConfirmation": true,
                    "waitTimeoutSeconds": 25
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "verifyToken": {
                    "description": "Login verify token from /v1/user/login (length 30).",
                    "type": "string"
                  },
                  "waitForConfirmation": {
                    "default": false,
                    "type": "boolean"
                  },
                  "waitTimeoutSeconds": {
                    "minimum": 1,
                    "maximum": 180,
                    "multipleOf": 1,
                    "default": 60,
                    "type": "number"
                  }
                },
                "required": [
                  "verifyToken"
                ]
              },
              "examples": {
                "simple": {
                  "summary": "Simple: ask once",
                  "value": {
                    "verifyToken": "LhB3zW7kXq9mT2vN"
                  }
                },
                "full": {
                  "summary": "Full: wait for the click",
                  "value": {
                    "verifyToken": "LhB3zW7kXq9mT2vN",
                    "waitForConfirmation": true,
                    "waitTimeoutSeconds": 25
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "verifyToken": {
                    "description": "Login verify token from /v1/user/login (length 30).",
                    "type": "string"
                  },
                  "waitForConfirmation": {
                    "default": false,
                    "type": "boolean"
                  },
                  "waitTimeoutSeconds": {
                    "minimum": 1,
                    "maximum": 180,
                    "multipleOf": 1,
                    "default": 60,
                    "type": "number"
                  }
                },
                "required": [
                  "verifyToken"
                ]
              },
              "examples": {
                "simple": {
                  "summary": "Simple: ask once",
                  "value": {
                    "verifyToken": "LhB3zW7kXq9mT2vN"
                  }
                },
                "full": {
                  "summary": "Full: wait for the click",
                  "value": {
                    "verifyToken": "LhB3zW7kXq9mT2vN",
                    "waitForConfirmation": true,
                    "waitTimeoutSeconds": 25
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "apiKey": {
                      "description": "the login key (qk_key_…, scope manage), shown only this once",
                      "examples": [
                        "qk_key_7Fh2kQ9xWm3LpR8vTz1YcN4bJd6sGe0aUi2H"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "apiKey"
                  ]
                }
              }
            }
          },
          "202": {
            "description": "Response for status 202",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "ERROR_ALREADY_CONNECTED",
                            "ERROR_ALREADY_MEMBER",
                            "ERROR_AUDIO_FAILED",
                            "ERROR_AUDIO_GONE",
                            "ERROR_CLIP_EXISTS",
                            "ERROR_CONFLICT",
                            "ERROR_GROUP_EXISTS",
                            "ERROR_INSUFFICIENT_CREDITS",
                            "ERROR_INSUFFICIENT_ROLE",
                            "ERROR_INSUFFICIENT_SCOPE",
                            "ERROR_INTEGRATION_NOT_FOUND",
                            "ERROR_INTEGRATION_UNAVAILABLE",
                            "ERROR_INTERNAL",
                            "ERROR_INVALID_API_KEY",
                            "ERROR_INVALID_MESSAGE",
                            "ERROR_INVALID_OR_EXPIRED_TOKEN",
                            "ERROR_INVALID_PARAMS",
                            "ERROR_INVALID_RETURN_TO",
                            "ERROR_INVALID_SIGNATURE",
                            "ERROR_INVALID_TICKET",
                            "ERROR_INVITE_ACCEPTED",
                            "ERROR_INVITE_EXPIRED",
                            "ERROR_INVITE_NOT_FOUND",
                            "ERROR_KEY_NAME_TAKEN",
                            "ERROR_LAST_ADMIN",
                            "ERROR_LOGIN_CONFIRMATION_PENDING",
                            "ERROR_LOGIN_NOT_FOUND",
                            "ERROR_MISSING_API_KEY",
                            "ERROR_MISSING_PARAMS",
                            "ERROR_NOT_CONNECTED",
                            "ERROR_NOT_ENOUGH_CREDITS",
                            "ERROR_NOT_FOUND",
                            "ERROR_NOT_REPLAYABLE",
                            "ERROR_NOT_VOTABLE",
                            "ERROR_NO_TESTERS",
                            "ERROR_NOT_VOTED",
                            "ERROR_NO_PERMISSIONS",
                            "ERROR_OAUTH_CANCELED",
                            "ERROR_PLAY_NOT_ACTIVE",
                            "ERROR_SESSION_EXPIRED",
                            "ERROR_SLACK_NOT_CONFIGURED",
                            "ERROR_SLUG_TAKEN",
                            "ERROR_SONOS_FAILED",
                            "ERROR_SONOS_NAME_TAKEN",
                            "ERROR_SONOS_NO_LOCATIONS",
                            "ERROR_SONOS_OAUTH_FAILED",
                            "ERROR_SONOS_RECONNECT_REQUIRED",
                            "ERROR_SONOS_SYNC_FAILED",
                            "ERROR_TOO_MANY_REQUESTS",
                            "ERROR_TTS_FAILED",
                            "ERROR_TTS_VOICES_UNAVAILABLE",
                            "ERROR_UNABLE_TO_SAVE",
                            "ERROR_USER_NOT_FOUND",
                            "ERROR_WORKSPACE_FORBIDDEN",
                            "ERROR_NO_WORKSPACE",
                            "ERROR_WORKSPACE_LIMIT",
                            "ERROR_WORKSPACE_MISMATCH",
                            "ERROR_WORKSPACE_NOT_FOUND"
                          ],
                          "description": "what went wrong, stable for code to check; message is for people"
                        },
                        "message": {
                          "type": "string"
                        },
                        "field": {
                          "type": "string"
                        },
                        "details": {},
                        "requestId": {
                          "description": "the X-Request-Id of the answer, to find the request in our log",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "ERROR_ALREADY_CONNECTED",
                            "ERROR_ALREADY_MEMBER",
                            "ERROR_AUDIO_FAILED",
                            "ERROR_AUDIO_GONE",
                            "ERROR_CLIP_EXISTS",
                            "ERROR_CONFLICT",
                            "ERROR_GROUP_EXISTS",
                            "ERROR_INSUFFICIENT_CREDITS",
                            "ERROR_INSUFFICIENT_ROLE",
                            "ERROR_INSUFFICIENT_SCOPE",
                            "ERROR_INTEGRATION_NOT_FOUND",
                            "ERROR_INTEGRATION_UNAVAILABLE",
                            "ERROR_INTERNAL",
                            "ERROR_INVALID_API_KEY",
                            "ERROR_INVALID_MESSAGE",
                            "ERROR_INVALID_OR_EXPIRED_TOKEN",
                            "ERROR_INVALID_PARAMS",
                            "ERROR_INVALID_RETURN_TO",
                            "ERROR_INVALID_SIGNATURE",
                            "ERROR_INVALID_TICKET",
                            "ERROR_INVITE_ACCEPTED",
                            "ERROR_INVITE_EXPIRED",
                            "ERROR_INVITE_NOT_FOUND",
                            "ERROR_KEY_NAME_TAKEN",
                            "ERROR_LAST_ADMIN",
                            "ERROR_LOGIN_CONFIRMATION_PENDING",
                            "ERROR_LOGIN_NOT_FOUND",
                            "ERROR_MISSING_API_KEY",
                            "ERROR_MISSING_PARAMS",
                            "ERROR_NOT_CONNECTED",
                            "ERROR_NOT_ENOUGH_CREDITS",
                            "ERROR_NOT_FOUND",
                            "ERROR_NOT_REPLAYABLE",
                            "ERROR_NOT_VOTABLE",
                            "ERROR_NO_TESTERS",
                            "ERROR_NOT_VOTED",
                            "ERROR_NO_PERMISSIONS",
                            "ERROR_OAUTH_CANCELED",
                            "ERROR_PLAY_NOT_ACTIVE",
                            "ERROR_SESSION_EXPIRED",
                            "ERROR_SLACK_NOT_CONFIGURED",
                            "ERROR_SLUG_TAKEN",
                            "ERROR_SONOS_FAILED",
                            "ERROR_SONOS_NAME_TAKEN",
                            "ERROR_SONOS_NO_LOCATIONS",
                            "ERROR_SONOS_OAUTH_FAILED",
                            "ERROR_SONOS_RECONNECT_REQUIRED",
                            "ERROR_SONOS_SYNC_FAILED",
                            "ERROR_TOO_MANY_REQUESTS",
                            "ERROR_TTS_FAILED",
                            "ERROR_TTS_VOICES_UNAVAILABLE",
                            "ERROR_UNABLE_TO_SAVE",
                            "ERROR_USER_NOT_FOUND",
                            "ERROR_WORKSPACE_FORBIDDEN",
                            "ERROR_NO_WORKSPACE",
                            "ERROR_WORKSPACE_LIMIT",
                            "ERROR_WORKSPACE_MISMATCH",
                            "ERROR_WORKSPACE_NOT_FOUND"
                          ],
                          "description": "what went wrong, stable for code to check; message is for people"
                        },
                        "message": {
                          "type": "string"
                        },
                        "field": {
                          "type": "string"
                        },
                        "details": {},
                        "requestId": {
                          "description": "the X-Request-Id of the answer, to find the request in our log",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "examples": {
                  "Token invalid or expired": {
                    "summary": "Token invalid or expired",
                    "value": {
                      "error": {
                        "code": "ERROR_INVALID_OR_EXPIRED_TOKEN",
                        "message": "The verify token is invalid or has expired.",
                        "requestId": "b2f41255-3619-44de-8697-25dd781fcb78"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Response for status 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "ERROR_ALREADY_CONNECTED",
                            "ERROR_ALREADY_MEMBER",
                            "ERROR_AUDIO_FAILED",
                            "ERROR_AUDIO_GONE",
                            "ERROR_CLIP_EXISTS",
                            "ERROR_CONFLICT",
                            "ERROR_GROUP_EXISTS",
                            "ERROR_INSUFFICIENT_CREDITS",
                            "ERROR_INSUFFICIENT_ROLE",
                            "ERROR_INSUFFICIENT_SCOPE",
                            "ERROR_INTEGRATION_NOT_FOUND",
                            "ERROR_INTEGRATION_UNAVAILABLE",
                            "ERROR_INTERNAL",
                            "ERROR_INVALID_API_KEY",
                            "ERROR_INVALID_MESSAGE",
                            "ERROR_INVALID_OR_EXPIRED_TOKEN",
                            "ERROR_INVALID_PARAMS",
                            "ERROR_INVALID_RETURN_TO",
                            "ERROR_INVALID_SIGNATURE",
                            "ERROR_INVALID_TICKET",
                            "ERROR_INVITE_ACCEPTED",
                            "ERROR_INVITE_EXPIRED",
                            "ERROR_INVITE_NOT_FOUND",
                            "ERROR_KEY_NAME_TAKEN",
                            "ERROR_LAST_ADMIN",
                            "ERROR_LOGIN_CONFIRMATION_PENDING",
                            "ERROR_LOGIN_NOT_FOUND",
                            "ERROR_MISSING_API_KEY",
                            "ERROR_MISSING_PARAMS",
                            "ERROR_NOT_CONNECTED",
                            "ERROR_NOT_ENOUGH_CREDITS",
                            "ERROR_NOT_FOUND",
                            "ERROR_NOT_REPLAYABLE",
                            "ERROR_NOT_VOTABLE",
                            "ERROR_NO_TESTERS",
                            "ERROR_NOT_VOTED",
                            "ERROR_NO_PERMISSIONS",
                            "ERROR_OAUTH_CANCELED",
                            "ERROR_PLAY_NOT_ACTIVE",
                            "ERROR_SESSION_EXPIRED",
                            "ERROR_SLACK_NOT_CONFIGURED",
                            "ERROR_SLUG_TAKEN",
                            "ERROR_SONOS_FAILED",
                            "ERROR_SONOS_NAME_TAKEN",
                            "ERROR_SONOS_NO_LOCATIONS",
                            "ERROR_SONOS_OAUTH_FAILED",
                            "ERROR_SONOS_RECONNECT_REQUIRED",
                            "ERROR_SONOS_SYNC_FAILED",
                            "ERROR_TOO_MANY_REQUESTS",
                            "ERROR_TTS_FAILED",
                            "ERROR_TTS_VOICES_UNAVAILABLE",
                            "ERROR_UNABLE_TO_SAVE",
                            "ERROR_USER_NOT_FOUND",
                            "ERROR_WORKSPACE_FORBIDDEN",
                            "ERROR_NO_WORKSPACE",
                            "ERROR_WORKSPACE_LIMIT",
                            "ERROR_WORKSPACE_MISMATCH",
                            "ERROR_WORKSPACE_NOT_FOUND"
                          ],
                          "description": "what went wrong, stable for code to check; message is for people"
                        },
                        "message": {
                          "type": "string"
                        },
                        "field": {
                          "type": "string"
                        },
                        "details": {},
                        "requestId": {
                          "description": "the X-Request-Id of the answer, to find the request in our log",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "examples": {
                  "Account gone": {
                    "summary": "Account gone",
                    "value": {
                      "error": {
                        "code": "ERROR_USER_NOT_FOUND",
                        "message": "User not found.",
                        "requestId": "b2f41255-3619-44de-8697-25dd781fcb78"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Response for status 422",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "operationId": "postV1UserLoginKey"
      }
    },
    "/v1/user/profile": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get user profile",
        "description": "Scope: any key. Returns profile information for the authenticated user.",
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "format": "uuid",
                      "type": "string"
                    },
                    "email": {
                      "format": "email",
                      "type": "string"
                    },
                    "name": {
                      "description": "your display name (members list, invitations, greeting in mails), required for new accounts, null only for older ones",
                      "anyOf": [
                        {
                          "maxLength": 80,
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "emailToVerify": {
                      "anyOf": [
                        {
                          "format": "email",
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "newsletter": {
                      "type": "boolean"
                    },
                    "createdAt": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "timeZone": {
                      "description": "your time zone for display and mails; quiet hours use the workspace's",
                      "type": "string"
                    },
                    "language": {
                      "description": "your language (stored, not used yet: everything is English for now)",
                      "type": "string"
                    },
                    "workspace": {
                      "description": "null when you are not a member of any workspace yet: create one with POST /v1/workspaces",
                      "anyOf": [
                        {
                          "description": "the workspace of the key: credits, defaults and speakers are in GET /v1/workspace",
                          "type": "object",
                          "properties": {
                            "id": {
                              "format": "uuid",
                              "type": "string"
                            },
                            "slug": {
                              "examples": [
                                "mike"
                              ],
                              "type": "string"
                            },
                            "name": {
                              "examples": [
                                "Mike's Space"
                              ],
                              "type": "string"
                            },
                            "role": {
                              "default": "ADMIN",
                              "description": "your role in the workspace",
                              "type": "string",
                              "enum": [
                                "ADMIN",
                                "MEMBER"
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "slug",
                            "name",
                            "role"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "email",
                    "name",
                    "emailToVerify",
                    "newsletter",
                    "createdAt",
                    "timeZone",
                    "language",
                    "workspace"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "ERROR_ALREADY_CONNECTED",
                            "ERROR_ALREADY_MEMBER",
                            "ERROR_AUDIO_FAILED",
                            "ERROR_AUDIO_GONE",
                            "ERROR_CLIP_EXISTS",
                            "ERROR_CONFLICT",
                            "ERROR_GROUP_EXISTS",
                            "ERROR_INSUFFICIENT_CREDITS",
                            "ERROR_INSUFFICIENT_ROLE",
                            "ERROR_INSUFFICIENT_SCOPE",
                            "ERROR_INTEGRATION_NOT_FOUND",
                            "ERROR_INTEGRATION_UNAVAILABLE",
                            "ERROR_INTERNAL",
                            "ERROR_INVALID_API_KEY",
                            "ERROR_INVALID_MESSAGE",
                            "ERROR_INVALID_OR_EXPIRED_TOKEN",
                            "ERROR_INVALID_PARAMS",
                            "ERROR_INVALID_RETURN_TO",
                            "ERROR_INVALID_SIGNATURE",
                            "ERROR_INVALID_TICKET",
                            "ERROR_INVITE_ACCEPTED",
                            "ERROR_INVITE_EXPIRED",
                            "ERROR_INVITE_NOT_FOUND",
                            "ERROR_KEY_NAME_TAKEN",
                            "ERROR_LAST_ADMIN",
                            "ERROR_LOGIN_CONFIRMATION_PENDING",
                            "ERROR_LOGIN_NOT_FOUND",
                            "ERROR_MISSING_API_KEY",
                            "ERROR_MISSING_PARAMS",
                            "ERROR_NOT_CONNECTED",
                            "ERROR_NOT_ENOUGH_CREDITS",
                            "ERROR_NOT_FOUND",
                            "ERROR_NOT_REPLAYABLE",
                            "ERROR_NOT_VOTABLE",
                            "ERROR_NO_TESTERS",
                            "ERROR_NOT_VOTED",
                            "ERROR_NO_PERMISSIONS",
                            "ERROR_OAUTH_CANCELED",
                            "ERROR_PLAY_NOT_ACTIVE",
                            "ERROR_SESSION_EXPIRED",
                            "ERROR_SLACK_NOT_CONFIGURED",
                            "ERROR_SLUG_TAKEN",
                            "ERROR_SONOS_FAILED",
                            "ERROR_SONOS_NAME_TAKEN",
                            "ERROR_SONOS_NO_LOCATIONS",
                            "ERROR_SONOS_OAUTH_FAILED",
                            "ERROR_SONOS_RECONNECT_REQUIRED",
                            "ERROR_SONOS_SYNC_FAILED",
                            "ERROR_TOO_MANY_REQUESTS",
                            "ERROR_TTS_FAILED",
                            "ERROR_TTS_VOICES_UNAVAILABLE",
                            "ERROR_UNABLE_TO_SAVE",
                            "ERROR_USER_NOT_FOUND",
                            "ERROR_WORKSPACE_FORBIDDEN",
                            "ERROR_NO_WORKSPACE",
                            "ERROR_WORKSPACE_LIMIT",
                            "ERROR_WORKSPACE_MISMATCH",
                            "ERROR_WORKSPACE_NOT_FOUND"
                          ],
                          "description": "what went wrong, stable for code to check; message is for people"
                        },
                        "message": {
                          "type": "string"
                        },
                        "field": {
                          "type": "string"
                        },
                        "details": {},
                        "requestId": {
                          "description": "the X-Request-Id of the answer, to find the request in our log",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "examples": {
                  "No API key": {
                    "summary": "No API key",
                    "value": {
                      "error": {
                        "code": "ERROR_MISSING_API_KEY",
                        "message": "Please provide an API key.",
                        "requestId": "b2f41255-3619-44de-8697-25dd781fcb78"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getV1UserProfile"
      },
      "patch": {
        "tags": [
          "User"
        ],
        "summary": "Update profile",
        "description": "Scope: `manage`. Changes your profile; fields left out stay as they are. Today: name.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 80
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "your display name, 1-80 characters; an empty string or null removes it. Shown to the other members, named in invitations you send and used as the greeting in mails",
                    "examples": [
                      "Mike"
                    ]
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 80
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "your display name, 1-80 characters; an empty string or null removes it. Shown to the other members, named in invitations you send and used as the greeting in mails",
                    "examples": [
                      "Mike"
                    ]
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 80
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "your display name, 1-80 characters; an empty string or null removes it. Shown to the other members, named in invitations you send and used as the greeting in mails",
                    "examples": [
                      "Mike"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "format": "uuid",
                      "type": "string"
                    },
                    "email": {
                      "format": "email",
                      "type": "string"
                    },
                    "name": {
                      "description": "your display name (members list, invitations, greeting in mails), required for new accounts, null only for older ones",
                      "anyOf": [
                        {
                          "maxLength": 80,
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "emailToVerify": {
                      "anyOf": [
                        {
                          "format": "email",
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "newsletter": {
                      "type": "boolean"
                    },
                    "createdAt": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "timeZone": {
                      "description": "your time zone for display and mails; quiet hours use the workspace's",
                      "type": "string"
                    },
                    "language": {
                      "description": "your language (stored, not used yet: everything is English for now)",
                      "type": "string"
                    },
                    "workspace": {
                      "description": "null when you are not a member of any workspace yet: create one with POST /v1/workspaces",
                      "anyOf": [
                        {
                          "description": "the workspace of the key: credits, defaults and speakers are in GET /v1/workspace",
                          "type": "object",
                          "properties": {
                            "id": {
                              "format": "uuid",
                              "type": "string"
                            },
                            "slug": {
                              "examples": [
                                "mike"
                              ],
                              "type": "string"
                            },
                            "name": {
                              "examples": [
                                "Mike's Space"
                              ],
                              "type": "string"
                            },
                            "role": {
                              "default": "ADMIN",
                              "description": "your role in the workspace",
                              "type": "string",
                              "enum": [
                                "ADMIN",
                                "MEMBER"
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "slug",
                            "name",
                            "role"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "email",
                    "name",
                    "emailToVerify",
                    "newsletter",
                    "createdAt",
                    "timeZone",
                    "language",
                    "workspace"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Response for status 400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "ERROR_ALREADY_CONNECTED",
                            "ERROR_ALREADY_MEMBER",
                            "ERROR_AUDIO_FAILED",
                            "ERROR_AUDIO_GONE",
                            "ERROR_CLIP_EXISTS",
                            "ERROR_CONFLICT",
                            "ERROR_GROUP_EXISTS",
                            "ERROR_INSUFFICIENT_CREDITS",
                            "ERROR_INSUFFICIENT_ROLE",
                            "ERROR_INSUFFICIENT_SCOPE",
                            "ERROR_INTEGRATION_NOT_FOUND",
                            "ERROR_INTEGRATION_UNAVAILABLE",
                            "ERROR_INTERNAL",
                            "ERROR_INVALID_API_KEY",
                            "ERROR_INVALID_MESSAGE",
                            "ERROR_INVALID_OR_EXPIRED_TOKEN",
                            "ERROR_INVALID_PARAMS",
                            "ERROR_INVALID_RETURN_TO",
                            "ERROR_INVALID_SIGNATURE",
                            "ERROR_INVALID_TICKET",
                            "ERROR_INVITE_ACCEPTED",
                            "ERROR_INVITE_EXPIRED",
                            "ERROR_INVITE_NOT_FOUND",
                            "ERROR_KEY_NAME_TAKEN",
                            "ERROR_LAST_ADMIN",
                            "ERROR_LOGIN_CONFIRMATION_PENDING",
                            "ERROR_LOGIN_NOT_FOUND",
                            "ERROR_MISSING_API_KEY",
                            "ERROR_MISSING_PARAMS",
                            "ERROR_NOT_CONNECTED",
                            "ERROR_NOT_ENOUGH_CREDITS",
                            "ERROR_NOT_FOUND",
                            "ERROR_NOT_REPLAYABLE",
                            "ERROR_NOT_VOTABLE",
                            "ERROR_NO_TESTERS",
                            "ERROR_NOT_VOTED",
                            "ERROR_NO_PERMISSIONS",
                            "ERROR_OAUTH_CANCELED",
                            "ERROR_PLAY_NOT_ACTIVE",
                            "ERROR_SESSION_EXPIRED",
                            "ERROR_SLACK_NOT_CONFIGURED",
                            "ERROR_SLUG_TAKEN",
                            "ERROR_SONOS_FAILED",
                            "ERROR_SONOS_NAME_TAKEN",
                            "ERROR_SONOS_NO_LOCATIONS",
                            "ERROR_SONOS_OAUTH_FAILED",
                            "ERROR_SONOS_RECONNECT_REQUIRED",
                            "ERROR_SONOS_SYNC_FAILED",
                            "ERROR_TOO_MANY_REQUESTS",
                            "ERROR_TTS_FAILED",
                            "ERROR_TTS_VOICES_UNAVAILABLE",
                            "ERROR_UNABLE_TO_SAVE",
                            "ERROR_USER_NOT_FOUND",
                            "ERROR_WORKSPACE_FORBIDDEN",
                            "ERROR_NO_WORKSPACE",
                            "ERROR_WORKSPACE_LIMIT",
                            "ERROR_WORKSPACE_MISMATCH",
                            "ERROR_WORKSPACE_NOT_FOUND"
                          ],
                          "description": "what went wrong, stable for code to check; message is for people"
                        },
                        "message": {
                          "type": "string"
                        },
                        "field": {
                          "type": "string"
                        },
                        "details": {},
                        "requestId": {
                          "description": "the X-Request-Id of the answer, to find the request in our log",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "examples": {
                  "Invalid volume": {
                    "summary": "Invalid volume",
                    "value": {
                      "error": {
                        "code": "ERROR_INVALID_PARAMS",
                        "message": "volume not valid. must be a number between 1 and 100.",
                        "field": "volume",
                        "requestId": "b2f41255-3619-44de-8697-25dd781fcb78"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "ERROR_ALREADY_CONNECTED",
                            "ERROR_ALREADY_MEMBER",
                            "ERROR_AUDIO_FAILED",
                            "ERROR_AUDIO_GONE",
                            "ERROR_CLIP_EXISTS",
                            "ERROR_CONFLICT",
                            "ERROR_GROUP_EXISTS",
                            "ERROR_INSUFFICIENT_CREDITS",
                            "ERROR_INSUFFICIENT_ROLE",
                            "ERROR_INSUFFICIENT_SCOPE",
                            "ERROR_INTEGRATION_NOT_FOUND",
                            "ERROR_INTEGRATION_UNAVAILABLE",
                            "ERROR_INTERNAL",
                            "ERROR_INVALID_API_KEY",
                            "ERROR_INVALID_MESSAGE",
                            "ERROR_INVALID_OR_EXPIRED_TOKEN",
                            "ERROR_INVALID_PARAMS",
                            "ERROR_INVALID_RETURN_TO",
                            "ERROR_INVALID_SIGNATURE",
                            "ERROR_INVALID_TICKET",
                            "ERROR_INVITE_ACCEPTED",
                            "ERROR_INVITE_EXPIRED",
                            "ERROR_INVITE_NOT_FOUND",
                            "ERROR_KEY_NAME_TAKEN",
                            "ERROR_LAST_ADMIN",
                            "ERROR_LOGIN_CONFIRMATION_PENDING",
                            "ERROR_LOGIN_NOT_FOUND",
                            "ERROR_MISSING_API_KEY",
                            "ERROR_MISSING_PARAMS",
                            "ERROR_NOT_CONNECTED",
                            "ERROR_NOT_ENOUGH_CREDITS",
                            "ERROR_NOT_FOUND",
                            "ERROR_NOT_REPLAYABLE",
                            "ERROR_NOT_VOTABLE",
                            "ERROR_NO_TESTERS",
                            "ERROR_NOT_VOTED",
                            "ERROR_NO_PERMISSIONS",
                            "ERROR_OAUTH_CANCELED",
                            "ERROR_PLAY_NOT_ACTIVE",
                            "ERROR_SESSION_EXPIRED",
                            "ERROR_SLACK_NOT_CONFIGURED",
                            "ERROR_SLUG_TAKEN",
                            "ERROR_SONOS_FAILED",
                            "ERROR_SONOS_NAME_TAKEN",
                            "ERROR_SONOS_NO_LOCATIONS",
                            "ERROR_SONOS_OAUTH_FAILED",
                            "ERROR_SONOS_RECONNECT_REQUIRED",
                            "ERROR_SONOS_SYNC_FAILED",
                            "ERROR_TOO_MANY_REQUESTS",
                            "ERROR_TTS_FAILED",
                            "ERROR_TTS_VOICES_UNAVAILABLE",
                            "ERROR_UNABLE_TO_SAVE",
                            "ERROR_USER_NOT_FOUND",
                            "ERROR_WORKSPACE_FORBIDDEN",
                            "ERROR_NO_WORKSPACE",
                            "ERROR_WORKSPACE_LIMIT",
                            "ERROR_WORKSPACE_MISMATCH",
                            "ERROR_WORKSPACE_NOT_FOUND"
                          ],
                          "description": "what went wrong, stable for code to check; message is for people"
                        },
                        "message": {
                          "type": "string"
                        },
                        "field": {
                          "type": "string"
                        },
                        "details": {},
                        "requestId": {
                          "description": "the X-Request-Id of the answer, to find the request in our log",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "examples": {
                  "No API key": {
                    "summary": "No API key",
                    "value": {
                      "error": {
                        "code": "ERROR_MISSING_API_KEY",
                        "message": "Please provide an API key.",
                        "requestId": "b2f41255-3619-44de-8697-25dd781fcb78"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Response for status 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "ERROR_ALREADY_CONNECTED",
                            "ERROR_ALREADY_MEMBER",
                            "ERROR_AUDIO_FAILED",
                            "ERROR_AUDIO_GONE",
                            "ERROR_CLIP_EXISTS",
                            "ERROR_CONFLICT",
                            "ERROR_GROUP_EXISTS",
                            "ERROR_INSUFFICIENT_CREDITS",
                            "ERROR_INSUFFICIENT_ROLE",
                            "ERROR_INSUFFICIENT_SCOPE",
                            "ERROR_INTEGRATION_NOT_FOUND",
                            "ERROR_INTEGRATION_UNAVAILABLE",
                            "ERROR_INTERNAL",
                            "ERROR_INVALID_API_KEY",
                            "ERROR_INVALID_MESSAGE",
                            "ERROR_INVALID_OR_EXPIRED_TOKEN",
                            "ERROR_INVALID_PARAMS",
                            "ERROR_INVALID_RETURN_TO",
                            "ERROR_INVALID_SIGNATURE",
                            "ERROR_INVALID_TICKET",
                            "ERROR_INVITE_ACCEPTED",
                            "ERROR_INVITE_EXPIRED",
                            "ERROR_INVITE_NOT_FOUND",
                            "ERROR_KEY_NAME_TAKEN",
                            "ERROR_LAST_ADMIN",
                            "ERROR_LOGIN_CONFIRMATION_PENDING",
                            "ERROR_LOGIN_NOT_FOUND",
                            "ERROR_MISSING_API_KEY",
                            "ERROR_MISSING_PARAMS",
                            "ERROR_NOT_CONNECTED",
                            "ERROR_NOT_ENOUGH_CREDITS",
                            "ERROR_NOT_FOUND",
                            "ERROR_NOT_REPLAYABLE",
                            "ERROR_NOT_VOTABLE",
                            "ERROR_NO_TESTERS",
                            "ERROR_NOT_VOTED",
                            "ERROR_NO_PERMISSIONS",
                            "ERROR_OAUTH_CANCELED",
                            "ERROR_PLAY_NOT_ACTIVE",
                            "ERROR_SESSION_EXPIRED",
                            "ERROR_SLACK_NOT_CONFIGURED",
                            "ERROR_SLUG_TAKEN",
                            "ERROR_SONOS_FAILED",
                            "ERROR_SONOS_NAME_TAKEN",
                            "ERROR_SONOS_NO_LOCATIONS",
                            "ERROR_SONOS_OAUTH_FAILED",
                            "ERROR_SONOS_RECONNECT_REQUIRED",
                            "ERROR_SONOS_SYNC_FAILED",
                            "ERROR_TOO_MANY_REQUESTS",
                            "ERROR_TTS_FAILED",
                            "ERROR_TTS_VOICES_UNAVAILABLE",
                            "ERROR_UNABLE_TO_SAVE",
                            "ERROR_USER_NOT_FOUND",
                            "ERROR_WORKSPACE_FORBIDDEN",
                            "ERROR_NO_WORKSPACE",
                            "ERROR_WORKSPACE_LIMIT",
                            "ERROR_WORKSPACE_MISMATCH",
                            "ERROR_WORKSPACE_NOT_FOUND"
                          ],
                          "description": "what went wrong, stable for code to check; message is for people"
                        },
                        "message": {
                          "type": "string"
                        },
                        "field": {
                          "type": "string"
                        },
                        "details": {},
                        "requestId": {
                          "description": "the X-Request-Id of the answer, to find the request in our log",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "examples": {
                  "Not found": {
                    "summary": "Not found",
                    "value": {
                      "error": {
                        "code": "ERROR_NOT_FOUND",
                        "message": "not found.",
                        "requestId": "b2f41255-3619-44de-8697-25dd781fcb78"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "patchV1UserProfile"
      }
    },
    "/v1/user/time-zones": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "List time zones",
        "description": "Scope: `play`. Returns supported IANA time zones for user settings. If the user's current time zone is valid but not in the global list, it is included as well.",
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "total"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "ERROR_ALREADY_CONNECTED",
                            "ERROR_ALREADY_MEMBER",
                            "ERROR_AUDIO_FAILED",
                            "ERROR_AUDIO_GONE",
                            "ERROR_CLIP_EXISTS",
                            "ERROR_CONFLICT",
                            "ERROR_GROUP_EXISTS",
                            "ERROR_INSUFFICIENT_CREDITS",
                            "ERROR_INSUFFICIENT_ROLE",
                            "ERROR_INSUFFICIENT_SCOPE",
                            "ERROR_INTEGRATION_NOT_FOUND",
                            "ERROR_INTEGRATION_UNAVAILABLE",
                            "ERROR_INTERNAL",
                            "ERROR_INVALID_API_KEY",
                            "ERROR_INVALID_MESSAGE",
                            "ERROR_INVALID_OR_EXPIRED_TOKEN",
                            "ERROR_INVALID_PARAMS",
                            "ERROR_INVALID_RETURN_TO",
                            "ERROR_INVALID_SIGNATURE",
                            "ERROR_INVALID_TICKET",
                            "ERROR_INVITE_ACCEPTED",
                            "ERROR_INVITE_EXPIRED",
                            "ERROR_INVITE_NOT_FOUND",
                            "ERROR_KEY_NAME_TAKEN",
                            "ERROR_LAST_ADMIN",
                            "ERROR_LOGIN_CONFIRMATION_PENDING",
                            "ERROR_LOGIN_NOT_FOUND",
                            "ERROR_MISSING_API_KEY",
                            "ERROR_MISSING_PARAMS",
                            "ERROR_NOT_CONNECTED",
                            "ERROR_NOT_ENOUGH_CREDITS",
                            "ERROR_NOT_FOUND",
                            "ERROR_NOT_REPLAYABLE",
                            "ERROR_NOT_VOTABLE",
                            "ERROR_NO_TESTERS",
                            "ERROR_NOT_VOTED",
                            "ERROR_NO_PERMISSIONS",
                            "ERROR_OAUTH_CANCELED",
                            "ERROR_PLAY_NOT_ACTIVE",
                            "ERROR_SESSION_EXPIRED",
                            "ERROR_SLACK_NOT_CONFIGURED",
                            "ERROR_SLUG_TAKEN",
                            "ERROR_SONOS_FAILED",
                            "ERROR_SONOS_NAME_TAKEN",
                            "ERROR_SONOS_NO_LOCATIONS",
                            "ERROR_SONOS_OAUTH_FAILED",
                            "ERROR_SONOS_RECONNECT_REQUIRED",
                            "ERROR_SONOS_SYNC_FAILED",
                            "ERROR_TOO_MANY_REQUESTS",
                            "ERROR_TTS_FAILED",
                            "ERROR_TTS_VOICES_UNAVAILABLE",
                            "ERROR_UNABLE_TO_SAVE",
                            "ERROR_USER_NOT_FOUND",
                            "ERROR_WORKSPACE_FORBIDDEN",
                            "ERROR_NO_WORKSPACE",
                            "ERROR_WORKSPACE_LIMIT",
                            "ERROR_WORKSPACE_MISMATCH",
                            "ERROR_WORKSPACE_NOT_FOUND"
                          ],
                          "description": "what went wrong, stable for code to check; message is for people"
                        },
                        "message": {
                          "type": "string"
                        },
                        "field": {
                          "type": "string"
                        },
                        "details": {},
                        "requestId": {
                          "description": "the X-Request-Id of the answer, to find the request in our log",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "examples": {
                  "No API key": {
                    "summary": "No API key",
                    "value": {
                      "error": {
                        "code": "ERROR_MISSING_API_KEY",
                        "message": "Please provide an API key.",
                        "requestId": "b2f41255-3619-44de-8697-25dd781fcb78"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getV1UserTime-zones"
      }
    },
    "/v1/user/email": {
      "patch": {
        "tags": [
          "User"
        ],
        "summary": "Update email address",
        "description": "Scope: login key only (from logging in with an app, not a key made with `/v1/keys`). Starts an email change flow for the authenticated user. A verification email is sent and the new email becomes active only after link confirmation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "the new address, confirmed by a link to it"
                  }
                },
                "required": [
                  "email"
                ]
              },
              "examples": {
                "simple": {
                  "summary": "Simple",
                  "value": {
                    "email": "you@example.com"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "the new address, confirmed by a link to it"
                  }
                },
                "required": [
                  "email"
                ]
              },
              "examples": {
                "simple": {
                  "summary": "Simple",
                  "value": {
                    "email": "you@example.com"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "the new address, confirmed by a link to it"
                  }
                },
                "required": [
                  "email"
                ]
              },
              "examples": {
                "simple": {
                  "summary": "Simple",
                  "value": {
                    "email": "you@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "format": "uuid",
                      "type": "string"
                    },
                    "email": {
                      "format": "email",
                      "type": "string"
                    },
                    "name": {
                      "description": "your display name (members list, invitations, greeting in mails), required for new accounts, null only for older ones",
                      "anyOf": [
                        {
                          "maxLength": 80,
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "emailToVerify": {
                      "anyOf": [
                        {
                          "format": "email",
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "newsletter": {
                      "type": "boolean"
                    },
                    "createdAt": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "timeZone": {
                      "description": "your time zone for display and mails; quiet hours use the workspace's",
                      "type": "string"
                    },
                    "language": {
                      "description": "your language (stored, not used yet: everything is English for now)",
                      "type": "string"
                    },
                    "workspace": {
                      "description": "null when you are not a member of any workspace yet: create one with POST /v1/workspaces",
                      "anyOf": [
                        {
                          "description": "the workspace of the key: credits, defaults and speakers are in GET /v1/workspace",
                          "type": "object",
                          "properties": {
                            "id": {
                              "format": "uuid",
                              "type": "string"
                            },
                            "slug": {
                              "examples": [
                                "mike"
                              ],
                              "type": "string"
                            },
                            "name": {
                              "examples": [
                                "Mike's Space"
                              ],
                              "type": "string"
                            },
                            "role": {
                              "default": "ADMIN",
                              "description": "your role in the workspace",
                              "type": "string",
                              "enum": [
                                "ADMIN",
                                "MEMBER"
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "slug",
                            "name",
                            "role"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "email",
                    "name",
                    "emailToVerify",
                    "newsletter",
                    "createdAt",
                    "timeZone",
                    "language",
                    "workspace"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Response for status 400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "ERROR_ALREADY_CONNECTED",
                            "ERROR_ALREADY_MEMBER",
                            "ERROR_AUDIO_FAILED",
                            "ERROR_AUDIO_GONE",
                            "ERROR_CLIP_EXISTS",
                            "ERROR_CONFLICT",
                            "ERROR_GROUP_EXISTS",
                            "ERROR_INSUFFICIENT_CREDITS",
                            "ERROR_INSUFFICIENT_ROLE",
                            "ERROR_INSUFFICIENT_SCOPE",
                            "ERROR_INTEGRATION_NOT_FOUND",
                            "ERROR_INTEGRATION_UNAVAILABLE",
                            "ERROR_INTERNAL",
                            "ERROR_INVALID_API_KEY",
                            "ERROR_INVALID_MESSAGE",
                            "ERROR_INVALID_OR_EXPIRED_TOKEN",
                            "ERROR_INVALID_PARAMS",
                            "ERROR_INVALID_RETURN_TO",
                            "ERROR_INVALID_SIGNATURE",
                            "ERROR_INVALID_TICKET",
                            "ERROR_INVITE_ACCEPTED",
                            "ERROR_INVITE_EXPIRED",
[...]
